.movie-list {
  width: 80%;
  margin: 0 auto !important;
  margin-top: 50px !important;
  border-color: transparent !important;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
  .ant-list-header {
    background-color: #001529;
    h2 {
      text-align: center;
      margin: 0;
      color: white;
    }
  }
  .ant-list-items {
    height: 650px;
    overflow: scroll;
    overflow-x: hidden;
  }
  &__movie {
    .ant-list-item-meta {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
    }
    .ant-list-item-meta-title {
      margin: 0;
      font-size: 22px;
      margin-left: 20px;
    }
  }
}

li.ant-list-item.movie-list__movie:nth-child(2n + 1) {
  background-color: #e1e1e1;
}
ul.ant-list-items::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}
ul.ant-list-items::-webkit-scrollbar-thumb {
  background-color: #001529;
}
.movie-list__movie-date p {
  font-size: 20px;
}
.movie-list-description {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 15px;
}
.movie-list-description span {
  color: #1890ff;
  font-weight: 700;
}
