.movie-catalog {
  display: flex !important;
  justify-content: center !important;
  margin-top: 25px;

  .ant-card-cover {
    img {
      height: 350px !important;
    }
  }

  .ant-card-meta-title {
    text-align: center !important;
  }
}
.ant-col-24 {
  display: flex !important;
  flex-wrap: wrap !important;

  overflow-x: hidden !important;
}
.ant-col-24 h1 {
  text-align: center !important;
}
