.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001529 !important;
  margin-top: 50px;
  padding: 20px 0 !important;
  p {
    color: white;
    margin: 0;
    font-size: 20px;
  }
}
