.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px !important;
  overflow: hidden;
}
.rc-pagination {
  margin: 0 auto !important;
  margin-top: 50px !important;
}
